<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/4-common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/6-filters.css') }}">
    <title>AirBnB</title>
</head>
<body >
    <header>
        <div class="logo"></div>
    </header>
    <div class="container">
        <section class="filters">
            <button>
                Search
            </button>
            <div class="locations">
                <h3 class="head3">
                    States
                </h3>
                <h4 class="head4">
                    California, Arizona...
                </h4>
                <div class="popover">
                    <ul>
                    {% for state in states|sort(attribute='name') %}
                        <li>
                          <h2>{{ state.name }}:</h2>
                        </li>
                    {% for city in state.cities|sort(attribute='name') %}
                              <li>{{ city.name }}</li>
                    {% endfor %}
                    {% endfor %}                        
                    </ul>
                </div>
            </div>
            <div class="amenities">
                <h3 class="head3">
                    Amenities
                </h3>
                <h4 class="head4">
                    Internet, Kitchen...
                </h4>
                <div class="popover">
                    <ul>
                    {% for amenity in amenities|sort(attribute='name') %}
                        <li>{{ amenity.name }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <footer >
        <span>
            Best School
        </span>
    </footer>
</body>
</html>